{
  "branches": [
    {
      "name": "main",
      "prerelease": false
    },
    {
      "name": "pre-([0-9]+)([-a-zA-Z0-9]+)?",
      "prerelease": false
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
